@font-face {
    font-family: 'jeju';
    src: url('fonts/JejuMyeongjo.woff2') format('woff2'), /* Modern browsers */
         url('fonts/JejuMyeongjo.woff') format('woff');   /* Fallback */
    font-weight: normal;
    font-style: normal;
}

/* MAIN CONTENT */

body {
    font-family: 'Inria Serif';
}

body, a {
    color: #5E374C
}

main {
    padding-left: max(23vw, 400px);
    min-width: 100px;
    max-width: 900px;
    width: 60%;
}

/* TEXT CONTENT*/

a {
    text-decoration: none;
}

#name {
    padding-top: 0;
    font-size: 30pt;
}

h1, h2, li {
    font-family: 'jeju';
}


h1 {
    padding-top: 40px;
    font-size: 60px;
}

p {
    font-size: 22px;
}

h2 {
    font-size: 40px;
    padding-top: 20px;
}

h3 {
    font-size: 27px;
    margin: 0;
}

a:hover::after, a.selected-effect::after  {
  content: "";
  position: absolute;
  right: -10px;  /* Start from the right edge of the parent (the <a> element) */
  width: 100vw;  /* Make it stretch across the entire viewport width */
  height: 20pt;
  background: rgba(255, 255, 255, 0.70);
  border-radius: 10px;
  z-index: -1;
}

/* BULLET CONTENT */

.star-bullets {
    list-style-type: none; /* Remove default bullets */
    padding-left: 10px; /* Adjust padding if needed */
}

.star-bullets li {
    position: relative; /* Allow positioning of the pseudo-element */
    padding-left: 1.5em; /* Space for the custom bullet */
    font-size: 25px;
}

.star-bullets li::before {
    content: "☆";
    position: absolute;
    left: 0; /* Align the bullet to the left */
    line-height: 1; /* Ensure alignment with the text */
}

.star-bullets li:has(> ul) {
    padding-top: 15px;
    padding-left: 1.5em;
    padding-bottom: 5px;
}

.reg-bullets {
    list-style-type: none; /* Remove default bullets */
    padding-left: 5px; /* Adjust padding if needed */
}

.reg-bullets li {
    position: relative; /* Allow positioning of the pseudo-element */
    padding-left: 0.75em; /* Space for the custom bullet */
}

.reg-bullets li::before {
    content: ">";
    position: absolute;
    left: 0; /* Align the bullet to the left */
    line-height: 1; /* Ensure alignment with the text */
}


/*PROJECT CARD CONTENT*/

.project-card {
    border: #5E374C 1pt solid;
    margin-bottom: 20px;
}

.project-card:hover {
    border: #5E374C 2pt solid;
}

.project-card, .project-header {
    border-radius: 15px;
}

.project-header {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #F1ECF1;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 5px;
}

.project-description p {
    padding: 0 15px 10px 30px;
    font-style: italic;
    font-size: 20px;
}

.project-header p {
    font-style: italic;
    margin: 0;
}

/*ASIDE CONTENT */

aside {
    top: 0;
    left: 0;
    position: fixed; /* fixed to the side of the screen */
    padding-top: 20px;
    padding-left: 40px;
    width: 14%;
    min-width: 260px;
    height: 100%; /* height of screen*/
    background-color: #F1ECF1;
    z-index: 1; /*  above background */
}

aside::before{
    content: "";
    position: fixed; /* fixed to the side of the screen */
    top: 0;
    left: 0;
    min-width: 350px;
    width: 19%;
    height: 100%;
    background-color: #F1ECF1;
    transform: rotate(2.5deg);
    transform-origin: top right;
    z-index: -1;
}




