@font-face {
    font-family: 'jeju';
    src: url('../fonts/JejuMyeongjo.woff2') format('woff2'), /* Modern browsers */
         url('../fonts/JejuMyeongjo.woff') format('woff');   /* Fallback */
    font-weight: normal;
    font-style: normal;
}

/* MAIN CONTENT */

body, a {
    color: #5E374C
}

p {
    font-family: "Inria Serif";
}

h2 {
    font-family: "Inria Serif";
    font-weight: normal;
}

a {
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

#landing-txt {
    display: none;
}

section {
    padding: 100px 0;
}

main p, footer, h2 {
    font-size: 22px;
}

section p, footer {
    text-align: center;
}

h2 {
    font-size: 30px;
}

footer {
    padding: 50px
}

.italic {
    font-style: italic;
}

.selected {
    text-decoration: underline;
}

/* HEADER */

#namemark {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 100px;
    font-family: jeju;
    font-weight: lighter;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F1ECF1;
    text-align: center;
}

/* NAV BAR */

nav {
    position: sticky;
    top: 0;
    background-color: #F1ECF1;
    font-size: 27px;
    justify-content: space-between;
}

#main-nav {
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensures the navbar stays on top */
}

nav, nav div {
    display: flex;
    padding: 0 30px;
    gap: 40px;
}

/* OVERVIEW CARD */

.overview-card {
    padding: 10px 60px;
}

.overview-card h2 {
    margin: 10px;
}

.overview-card p {
    margin: 10px;
    text-align: left;
}

#overview-cntr {
    padding: 25px 0
}



